<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="Naticord.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup>
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
    <userSettings>
        <Naticord.Properties.Settings>
            <setting name="token" serializeAs="String">
                <value />
            </setting>
            <setting name="renderMode" serializeAs="String">
                <value>Mica</value>
            </setting>
            <setting name="iconStyle" serializeAs="String">
                <value>Modern</value>
            </setting>
            <setting name="borderStyle" serializeAs="String">
                <value>Slim</value>
            </setting>
            <setting name="runDefaults" serializeAs="String">
                <value>False</value>
            </setting>
        </Naticord.Properties.Settings>
    </userSettings>
</configuration>